@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    width: 90%;
    margin: 0 auto;
}

 hr{
    margin: 0 !important; 
 }

 #tasks{
    width: 55%;
    float: left;
 }
 .task{
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.3);
 }

.task__title{
    float: left;
    width: 80%;
    padding-top: 3px;
    line-height: 25px;
    font-weight: 800;
    color: darkblue;

}


.task__content{
    float: left;
    width: 100%;
    min-height: 100px;
    padding: 15px;

}
.task__status{
     float: left;
     width: 5%;
     text-align: center;
      padding-top: 3px;

}

.task__edit{
     float: left;
     width: 5%;
     text-align: center;
      padding-top: 3px;

}

.task__delete{
     float: left;
     width: 5%;
     text-align: center;
      padding-top: 3px;

}
.task__change{
     float: left;
     width: 5%;
     text-align: center;
      padding-top: 3px;

}
.clear {
    clear: both;
}

.false{
    color: red;
    cursor: pointer;
}

.ok{
    color: green;
    cursor: pointer;
}

.ic_del{
   cursor: pointer; 
}

.closeTask{
        background-color: rgb(214, 103, 103);
    opacity: 0.3;
}
.label_form{
    display: block;
}

#update_form{
    margin-left: 5%;
    float: left;
    width: 40%;
}